#error {
    color: red;
    font-weight: bold;
    font-size: 3em;
}

#display {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
}

.param-name {
    background-color: #a4ebf894;
    border: 1px solid #4200e3;
    padding: 3px;
}

.pad-insert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.pad-input {
    width: 400px;
}

.prompt {
    cursor: pointer;
}

.lastp {
    background-color: #fbddd1;
}

.currentp {
    background-color: #ccffcc;
}


input[type="text"] {
    width: 400px;
    padding: 5px;
    margin: 15px;
    text-align: center;
}

input[type="submit"] {
    margin-left: 10px;
}